body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(16, 17, 16);
}
.topnav{
    overflow: hidden;
    background-color: rgb(56, 45, 70);

}
.topnav a{
    float: left;
    color: #e6d5d5;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 20px;

}
.topnav a:hover {
    background-color:rgb(233, 245, 14) ;
    color: rgb(243, 14, 14);

}


.topnav a.active{
    background-color:#e816be ;
    color:white;
}



.sidenav{
    list-style-type: none;
    font-family:'Times New Roman', Times, serif;
    font-size:22px;
    overflow: hidden;
    /* background-color: aqua; */
    text-align: center;
    padding: 20px 16px;
    
}
.sidenav>li{
   width: 100px;
    background-color: rgb(225, 235, 235);
    padding-left: 5px;
    padding: 16px 16px;

}
.sidenav>li:hover{
    width: 100px;
    color: #f2f2f2;
    padding-left: 6px;
     background-color: rgb(255, 0, 251);
     font-size:25px;

 }
